html {
  scroll-behavior: smooth;
}

body {
  font-family: "Anonymous Pro", monospace;
}

h1 {
  color: var(--hunter-green);
}

/* NAVIGATION */
.main-nav {
  border: 3px solid silver;
  background-color: #0c0955ff;
  border-radius: 10px;
  color: #575c55ff;
  list-style-type: none;
  text-align: center;
  font-weight: bold;
  position: fixed;
  z-index: 3;
}

.main-nav li {
  display: inline-block;
  text-transform: capitalize;
  font-size: 20px;
  padding: 10px;
  margin: 5px;
}

.main-nav li a {
  text-decoration: none;
}
.main-nav li a:visited {
  color: whitesmoke;
}

.main-nav li:hover {
  background-color: #1688b1;
  border-radius: 10px;
}

/* HEADER */
.main-header {
  border: 2px solid blue;
  min-height: 80vh;
  background-image: url(./img/header-pic-2.jpg);
  background-position: center;
  background-size: cover;
}

.main-header h2 {
  color: white;
  margin: 20px 0 20px 0;
}

#header-description {
  color: whitesmoke;
  font-size: 80px;
  font-style: normal;
  text-shadow: 5px 1px #96e9fb;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin: 100px 10px 0 30px;
}

/* MAIN */

/* DCI */
.main-dci {
  /* border: 2px solid red; */
  min-height: 100vh;
  background-image: url(./img/dark-blue.jpg);
  background-position: center;
  background-size: cover;
}
.main-dci h2 {
  font-weight: bold;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 2px 5px #0b1587;
}

.main-dci .dci-container {
  /* border: 2px solid blue; */
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card-or,
.card-web,
.card-aws,
.card-py,
.card-om,
.card-hr,
.card-java,
.card-sc {
  /* border: 3px solid gold; */
  border-radius: 10px;
  width: 270px;
  height: 250px;
  padding: 2px;
  margin: 20px 15px 10px 15px;
  text-align: center;
}
.card-or #dci-logo,
.card-web #dci-logo,
.card-aws #dci-logo,
.card-py #dci-logo,
.card-om #dci-logo,
.card-hr #dci-logo,
.card-java #dci-logo,
.card-sc #dci-logo {
  position: relative;
  top: 2px;
  left: 90px;
}

.card-or #click-arrow,
.card-web #click-arrow,
.card-aws #click-arrow,
.card-py #click-arrow,
.card-om #click-arrow,
.card-hr #click-arrow,
.card-java #click-arrow,
.card-sc #click-arrow {
  /* border: 2px solid white; */
  position: relative;
  right: 20px;
  top: 8px;
}

.top-card {
  /* border: 2px solid yellow; */
  background-color: #f0c750;
  border-radius: 10px 10px 0 0;
  min-height: 20%;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.middle-card-1 {
  background-color: rgb(54, 53, 140);
  color: silver;
  min-height: 10%;
  border: 1px solid #0c0955ff;
  font-style: italic;
}

.middle-card-2 {
  /* border: 2px solid brown; */
  background-color: rgb(9, 16, 92);
  color: whitesmoke;
  padding: 15px 4px 5px 4px;
  font-size: 14px;
  min-height: 40%;
  /* display: flex;
  justify-content: center */
}

.bottom-card {
  /* border: 2px solid red; */
  background-color: #04083c;
  border-radius: 0 0 10px 10px;
  min-height: auto;
}

/* COURSES */

/* courses rows */

.main-courses {
  /* border: 2px solid red; */
  min-height: 100vh;
  background-image: url(./img/slightly-blue.jpg);
  background-position: center;
  background-size: cover;
}

.main-courses h2 {
  font-weight: bold;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 5px #0e2769;
}

.main-courses .courses-top-row {
  /* border: 2px solid blue; */
  min-height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.main-courses .courses-middle-row {
  /* border: 2px solid blue; */
  min-height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.main-courses .courses-bottom-row {
  /* border: 2px solid blue; */
  min-height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.courses-top-row .circle1,
.courses-top-row .circle2 {
  /* border: 2px solid red; */
  background-color: gold;
  width: 220px;
  height: 220px;
  padding: 20px;
  margin: 20px 10px 5px 20px;
  border-radius: 50%;
}

.courses-middle-row .circle1,
.courses-middle-row .circle2,
.courses-middle-row .circle3 {
  /* border: 2px solid red; */
  background-color: gold;
  width: 200px;
  height: 200px;
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
}

.courses-bottom-row .circle1,
.courses-bottom-row .circle2 {
  /* border: 2px solid red; */
  background-color: gold;
  width: 220px;
  height: 220px;
  padding: 20px;
  margin: 20px 10px 5px 20px;
  border-radius: 50%;
}

.box-img-1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 20px;
}
.box-img-2 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 75px;
}

.box-img-3 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 22px;
}

.box-img-3 #round-img {
  border-radius: 50%;
}
.box-img-4 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 17px;
}

.box-img-5 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 22px;
}

.box-img-6 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 0;
}

.box-img-7 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 20px;
}

/* YOUTUBE */

.main-youtube {
  /* border: 2px solid red; */
  min-height: 100vh;
  background-image: url(./img/slightly-blue-2.jpg);
  background-position: center;
  background-size: cover;
}

.main-youtube h2 {
  font-weight: bold;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
  text-shadow: 3px 5px #037c95;
}
.main-youtube h4 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 30px;
  font-weight: bold;
  color: white;
}

.yt-video-1-content p,
.yt-video-2-content p,
.yt-video-3-content p,
.yt-video-4-content p {
  word-spacing: 5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.yt-video-1 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}
.yt-video-1-containter {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yt-text {
  /* border: 2px solid red; */
  max-width: 60vh;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 430px;
}

.yt-text p {
  font-size: 23px;
}

/* .yt-video-1-content {
  border: 2px solid blue;
  max-width: 50vh;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  height: 400px;
} */

.yt-video-1-content p {
  margin: 15px;
}

.yt-video-2 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}

.yt-video-2-containter {
  /* border: 2px solid green; */
  height: fit-content;
  min-width: 50%;
  padding: 0 0 0 100px;
}

/* .yt-video-2-content {
   border: 2px solid blue; 
  max-width: 50vh;
  padding: 10px;
  margin-left: 20px;
} */

.yt-video-3 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin-bottom: 10px;
}

.yt-video-3-containter {
  /* border: 2px solid red; */
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .yt-video-3-content {
   border: 2px solid blue; 
  max-width: 50vh;
  padding: 10px;
  margin-left: 20px;
} */

.yt-video-4 {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.yt-video-4-containter {
  /* border: 2px solid green; */
  height: fit-content;
  min-width: 50%;
  padding: 0 0 0 100px;
}

/* .yt-video-4-content {
   border: 2px solid blue; 
  max-width: 50vh;
  padding: 10px;
  margin-left: 20px;
} */

/* GAMES */

.main-games {
  /* border: 2px solid red; */
  min-width: 100vh;
  min-height: 50vh;
  background-image: url(./img/sky-wallpaper.jpg);
  background-position: center;
  background-size: cover;
}

.games-table {
  /* border: 2px solid red; */
  width: 100%;
  min-height: 30vh;
  margin-top: 40px;
  text-align: center;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-games h2 {
  font-weight: bold;
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  text-shadow: 3px 5px whitesmoke;
}
th {
  font-size: larger;
  font-style: italic;
}

th,
td {
  border: 2px dashed black;
  background-color: #4193b1;
  padding: 20px;
}

td a {
  text-decoration: none;
  font-weight: bold;
}

th,
td:hover {
  border: 2px solid black;
  background-color: #1688b1;
  padding: 20px;
  text-decoration: none;
}

th {
  background-color: #d6eef2;
  font-weight: bold;
}

/* FOOTER */

footer {
  /* border: 2px solid red; */
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/footer-white.jpg);
  background-position: center;
  background-size: cover;
}

footer ul {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

footer ul li a {
  padding: 20px;
  margin: 30px;
  font-size: 120px;
  color: var(--hunter-green);
}

footer ul li a:hover {
  color: #4193b1;
}
